* {
    
}

body {

    background-color: rgb(62, 126, 191);
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);

}

.containter {

    padding: 0 10px;

}

.title {
    text-align: center;
    margin: 20px;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
}

#error {
    color: red
}

input[type="text"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    height:100px;
    width: 100%;
    background-color: #c6d5ac;
    margin-bottom: 25px;
}

#light {
    color: rgb(220, 95, 255);

}


#dark {

    color: rgb(197, 0, 251);

}

.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-text {
    font-size: 18px;
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}

